[submodule "packages/cli"]
   path = packages/cli
   url = https://github.com/HospitalRun/cli.git
[submodule "packages/components"]
   path = packages/components
   url = https://github.com/HospitalRun/components.git
[submodule "packages/core"]
   path = packages/core
   url = https://github.com/HospitalRun/hospitalrun-core.git
[submodule "packages/frontend"]
   path = packages/frontend
   url = https://github.com/HospitalRun/hospitalrun-frontend.git
[submodule "packages/server"]
   path = packages/server
   url = https://github.com/HospitalRun/hospitalrun-server.git
